<div class="row">

    <div class="col-md-8">
        <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
        </h1>

        <div class="card mb-4">
            <img src="http://placehold.it/758x380" alt="Card image cap" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit voluptatum dolore officia mollitia dolorem deleniti, animi dolorum minima soluta culpa aut, fugit assumenda atque veritatis doloribus cupiditate, quam reprehenderit vel?</p>
                <a href="#" class="btn btn-info">Read More</a>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="">Start Bootstrap</a>
            </div>
        </div>

        <div class="card mb-4">
            <img src="http://placehold.it/758x380" alt="Card image cap" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit voluptatum dolore officia mollitia dolorem deleniti, animi dolorum minima soluta culpa aut, fugit assumenda atque veritatis doloribus cupiditate, quam reprehenderit vel?</p>
                <a href="#" class="btn btn-info">Read More</a>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="">Start Bootstrap</a>
            </div>
        </div>

        <div class="card mb-4">
            <img src="http://placehold.it/758x380" alt="Card image cap" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit voluptatum dolore officia mollitia dolorem deleniti, animi dolorum minima soluta culpa aut, fugit assumenda atque veritatis doloribus cupiditate, quam reprehenderit vel?</p>
                <a href="#" class="btn btn-info">Read More</a>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="">Start Bootstrap</a>
            </div>
        </div>

        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a href="#" class="page-link">Older</a>
            </li>
            <li class="page-item disabled">
                <a href="#" class="page-link">Newer</a>
            </li>
        </ul>

    </div>

    <div class="col-md-4">

        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->

        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">Firebase</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Javascript</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side Widget -->

        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, nostrum.
            </div>
        </div>

    </div>
</div>