{{> admin/header }}
<body>
    
    {{> admin/navigation }}

    <div class="container-fluid">
        <div class="row">
            
            {{> admin/sidebar}}

            {{{ body }}}

        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
