{{> admin/header }}
<body>
    
    {{> admin/navigation }}

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

                {{> admin/sidebar}}

            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

                {{> admin/message}}

                {{{ body }}}

            </main>
            
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="/js/app.js"></script>
</body>
</html>
