
{{> default/header }}
<body>
    <!-- Navigation -->
    {{> default/navigation }}

    <!-- Message -->
    {{> default/message}}

    <!-- Page Content -->
    <div class="container">
        {{{ body }}}
    </div>

    <!-- Footer -->
    {{> default/footer }}
    
</body>
</html>